.notfound-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.notfound-icon-box {
  width: 256px;
  height: 256px;
  background: #47A1DE; /* orange-400 */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-text {
  font-size: 36px;
  text-align: center;
  color: #111827;
  font-weight: 500;
}
